.card__image {
  width: 100%;
  min-height: 371px;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform 0.3s;
  aspect-ratio: 1;
}

@media (hover: hover) { /* для устройств с мышью */
  .card:hover .card__image {
    transform: scale(1.05);
  }
}
